.react-timer {
    margin: 0;
    padding: 2em;
}

.react-timer .button-secondary {
  background: #fff;
  color: #666;
  border: 1px solid #ddd;
}

.react-timer .pure-button {
  margin: 0.25em;
  font-weight: 200;
}

.react-timer .seconds {
  font-size: 200%;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  color: #666;
}
